html{
  --bg: #fff;
  --bg-panel: #ebebeb;
  --color-heading: rgb(27, 168, 14); 
  --background-color: rgb(255,255,240);
  --color-text: #333333;
}

html[data-theme='dark'] {
  --bg: #a5a2a2;
  --background-color: #30363d;
  --bg-panel: #434343;
  --color-heading: #0077ff; 
  --color-text: #f0f6fc;
}
body {
  margin: 10px;
  color: var(--color-text);
  background-color: var(--background-color); 
}


h1 {
  background: rgb(68, 64, 64);
  color: white;
  margin-left: 10px;
  padding: 10px;
}

h2 {
  background: rgb(68, 64, 64);
  color: white;
  margin-left: 30px;
  padding: 10px;
}

body {
  counter-reset: h1counter;
}
h1 {
  counter-reset: h2counter;
}
h1:before {
  content: counter(h1counter) ".\0000a0\0000a0";
  counter-increment: h1counter;
}
h2 {
  counter-reset: h3counter;
}
h2:before {
  content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
}

h3:before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

.checklist.rw {
  max-height: 87vh;
  overflow-y: scroll;
  margin: auto;
  padding-right: 20px;
  width: 100%;
}

.checklist.r {
  overflow: visible;  
  height: auto;
  width: 70%;
  margin: auto
}

.main {
  display: flex;
}

h1,
h1 ~ *,
h2 ~ h1,
h2 ~ h1 ~ *,
h3 ~ h1,
h3 ~ h1 ~ * {
  margin-left: 0px;
}

h2,
h2 ~ *,
h1 ~ h2,
h1 ~ h2 ~ *:not(h1):not(h3) {
  margin-left: 40px;
}

h3,
h3 ~ *,
h1 ~ h3,
h1 ~ h3 ~ *:not(h1):not(h2) {
  margin-left: 80px;
}

pre {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(27, 27, 27);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  clear: both;
  color: rgb(80, 238, 119);
  display: block;
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Source Code Pro",
    Menlo, Consolas, Monaco, monospace;
  tab-size: 2;
  white-space: pre;
  word-break: normal;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

table, td, th {
  border: 1px solid #3a424a;
  padding: 6px 13px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 16px;
  margin-top: 0;
  border-color: grey;
}

nav {
  width: 320px;
  min-width: 220px;
  margin: 8px;
  align-self: flex-start;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10px;
  list-style-type: none;
  max-height: calc(100vh - 70px);
  overflow: auto;
}

nav ul {
  list-style-type: none;
}
nav li {
  list-style-type: none;
}

li {
  color: var(--color-text);
}

p {
  color: var(--color-text);
}


@media screen and (max-width: 900px) {
  nav {
    display: none;
  }
}

a {
  color: rgb(146, 173, 152);
  text-decoration: none;
}

li.active > a {
  color: orange;
}

li > a:hover {
  color: rgb(255, 248, 181);
}

fieldset {
  border: 0px;
  min-width: 0;
  padding: 0;
  margin: 0;
}

.form-group {
  margin-bottom: 0px;
}

.rjsf {
  display: block;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(252, 255, 79);
  background-color:  var(--background-color);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.text-danger {
  color: #a94442;
}

.panel-danger {
  display: none
}

.chip {
  display: inline-block;
  padding: 0 10px;
  margin: 10px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  border-radius: 25px;
  background-color: #f1f1f1;
  color:#1a1a16;
}

body {
  caret-color: transparent;
}